body {
    margin: 0 ;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Header and Nav Area */
.header {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png) ;
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: 50%, 80px;
    margin-bottom: 120px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}
.header h2 {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 50px;
}
.header span {
    color: #FD6E0A;
}
.header ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    align-items: center;
}
.header ul li {
    margin-left: 40px;
}
.header ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size:20px;
    color: #525252;
}
.header ul li .btn {
    background-color: #FD6E0A;
    color: white;
    font-weight: 700;
    padding: 15px 25px ;
    border-radius: 5px;
    border: 0;
}
.header ul li .btn:hover {
    background-color: #cd5a07;
}
/* Banner and greeting Area */
.banner {
    float: left;
    padding: 20px 150px 0 200px;
    width: 40%;


}
.banner .greeting-area {
    text-transform: capitalize;
    font-size: 40px;
    color: #3f3f3f;
    margin-bottom: -15px;
}
.banner .name-area {
    text-transform: capitalize;
    font-size: 80px;
}
.banner p {
    color: #3f3f3f;
    font-weight: 500;
    margin-bottom: 30px;
}
.banner .btn {
    background-color: #fd6e0a;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 23px ;
    border-radius: 5px;
    border: 2px solid #fd6e0a;
}
.banner .btn:hover {
    background-color: #FFF8F3;
    border: 2px solid #fd6e0a;
    color: #fd6e0a;
    padding: 13px 23px ;
}
.banner .btn2 {
    color: #fd6e0a;
    background-color: #FFF8F3;
    border: 2px solid #fd6e0a;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 23px ;
    border-radius: 5px;
    margin-left: 20px;
}
.banner .btn2:hover {
    background-color: #FD6E0A;
    color: #FFF8F3;
}
.banner-img {
    width: 400px;
    margin-bottom: -5px;
}
/* main section  */
.main {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.about-area {
    background-color: #fff5ed;
    padding: 100px;
    border-radius: 10px;
}
.main h3 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
}
.about-area p, .about-area h4{
    color: #838383;
    font-weight: normal;
}
.info-cointainer {
    display: flex;  
    justify-content: space-around;
}
.info-cointainer .about-info p {
    font-weight: bold;
    color: #151515;
}
/* Skill Area Start */
.skill-area {
    padding: 100px;  
}
.main-skills {
    display: flex;
}
.skill-list {
    padding: 30px;
    text-align: left;
    margin-left: 20px;
    box-shadow: 0 6px 50px 0 #ecebeb;
}
.resume-area {
    margin-top: 130px;
}
.resume-cointainer {
    text-align: left;
    display: flex;
    justify-content: space-around;
}
.resume-title{
    font-size: 25px;
    color: #383838;
}